<div class="fm-clearfix fm-contain-row fm-primary-header">
    <div class="fm-box-lg-6 fm-box-md-6 fm-box-sm-6 fm-box-xs-6">
        <div class="fm-breadcrumbs">Notes</div>
        {{#link-to 'notes.new' class="fm-menu-item new-note btn-submit"}} New {{/link-to}}
    </div>
    <div class="fm-box-lg-6 fm-box-md-6 fm-box-sm-6 fm-box-xs-6 fm-text-right">
        <ul class="fm-header-menu">
            <li class="__header-list">
                <a class="fm-avatar">{{firstLetter}}</a>
            </li>
        </ul>
    </div>
</div>