.#{$name-prefix}logo {
    margin: 10px;
    cursor: pointer;
    .__icon {
      width: 30px;
    }
  }
  
  .#{$name-prefix}sidenav {
    background-color: $side-navbar;
    min-width: 64px;
    max-width: 64px;
    text-align: center;
    &.#{$name-prefix}nav-stick {
      position: fixed;
      left: 0;
      top: 0;
      bottom: 0;
      z-index: 4;
    }
  }
  
  .#{$name-prefix}menu {
    margin: 5px 0;
    position: relative;
    .#{$name-prefix}menu-item {
      display: inline-block;
      @include border-radius(4px);
      min-height: 36px;
      min-width: 36px;
      position: relative;
      // transition: ease 0.7s;
      &:hover,
      &:focus {
        background-color: $brand-primary;
        // transition: ease 0.7s;
      }
      >.__icon {
        width: 30px;
        margin-top: 5px;
        fill: $brand-white;
      }
      &.active {
        background-color: $brand-primary;
      }
    }
  }
  
  .#{$name-prefix}svg-valign {
    position: absolute;
    top: 50%;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    @include transform(translateY(-50%));
  }
  
  .#{$name-prefix}valign-wrapper {
    position: absolute;
    top: 50%;
    right: 2px;
    outline: 0;
    @include transform(translateY(-50%));
    >.__icon {
      fill: #fff;
      width: 18px;
      height: 18px;
      cursor: pointer;
    }
  }
  
  .#{$name-prefix}header-menu {
    .__header-list {
      display: inline-block;
      margin: 0 6px;
      &:last-child {
        margin-right: 0px;
      }
    }
  }
  
  .#{$name-prefix}main-area {
    margin-left: 64px;
    position: relative;
    height: 100%;
  }
  
  .#{$name-prefix}main-wrapper {
    height: 100%;
    position: relative;
  }
  
  .#{$name-prefix}primary-header {
    background-color: $brand-white;
    position: fixed;
    left: 64px;
    right: 0;
    top: 0;
    z-index: 3;
  }
  
  .#{$name-prefix}secondary-header {
    box-shadow: inset 0 1px 0 0 $primary-border, 0 1px 0 0 $primary-border;
    background-color: $secondary-bg;
    position: fixed;
    left: 64px;
    top: 50px;
    right: 0;
    z-index: 3;
    height: 52px;
  }
  
  .#{$name-prefix}content-area {
    padding-top: 52px;
    position: relative;
    height: 100%;
    padding-left: 64px;
    @include clearfix;
  }
  
  .#{$name-prefix}single-header {
    top: 50px;
    position: relative;
    height: 100%;
    @include clearfix;
  }
  
  .#{$name-prefix}primary-container {
    background-color: $brand-white;
  }
  
  .ember-basic-dropdown-trigger {
    outline: 0;
  }
  
  body>.ember-view {
    height: 100%;
  }
  
  .#{$name-prefix}tile{
    border-radius: 4px;
    box-shadow: 0 1px 2px 0 rgba(63, 63, 68, 0.08), 0 0 0 1px rgba(63, 63, 68, 0.05);
  }
  .#{$name-prefix}dashboard-list{
    *{
      text-transform : capitalize;
    }
    label{
      font-size: 12px;
      font-weight: 500;
      color: #6a7088;
    }
    .fm-dashboard-link{
      color: #6a7088;
    }
  }
  .#{$name-prefix}dashboard-tile-header{
     border-bottom: dotted 1.1px #dadfe3;
  }
  .#{$name-prefix}dashboard-heading{
    font-size: 13.2px;
    font-weight: 600;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.29;
    letter-spacing: normal;
    text-align: left;
    color: #4a4a4a;
    text-transform: uppercase;
  }
  .#{$name-prefix}dashboard-title{
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.77;
    letter-spacing: normal;
    text-align: left;
    color: #183247;
  }
  .#{$name-prefix}slider-parent{
    width: 350px;
    height: 6px;
    border-radius: 6px;
    background-color: #ebebeb;
    div{
      background-color: #f5a623;
      height: 100%;
      border-radius: 6px;
    }
  }
  .#{$name-prefix}dashboard-scroll-card{
      position: absolute;
      top:5px;
      right: 5px;
      div{
        opacity: 0.99;
        border-radius: 2px;
        background-color: #98deff;
        border: solid 1px #34bdff;
        cursor:pointer;
        display:inline;
        padding: 1px 10px;
      }
      img{
            width: 10px;
            height: 15px;
      }
  }
  .#{$name-prefix}list-anchor{
    a{
      font-size: 14.3px;
      font-weight: 500;
      font-style: normal;
      font-stretch: normal;
      line-height: 1.38;
      letter-spacing: normal;
      text-align: left;
      color: #3a7fcf;
    }
  }
  .#{$name-prefix}dashboard-trinary-bold{
  font-size: 12px;
    font-weight: bold;
    color: #161616;
  }
  .#{$name-prefix}dashboard-secondary-bold{
    color: #161616; 
    font-size: 22px;  
  }
  

  // all notes style:

  .#{$name-prefix}note-wrap {
    margin: 20px;
    
    .#{$name-prefix}note-item {
      display: inline-block;
      background: #fff;
      margin: 10px;
      max-width: 300px;
      min-width: 300px;
      border-radius: 3px;
    }
    .#{$name-prefix}note-heading {
      padding-bottom: 20px;
      display: block;
      font-size: 16px;
      font-weight: 600;
      position: relative;
      &:after {
        content: '';
        padding-bottom: 1px;
        background: #c3c1bf;
        position: absolute;
        bottom: 10px;
        left: 0;
        width: 40px;
    }
    }
    .#{$name-prefix}note-dis {
      min-height: 100px;
      height: 160px;
      overflow: hidden;
      line-height: 26px;
      font-size: 13px;
    }
    .action-head-wrap {
      padding: 20px;
      font-size: 14px;
      font-weight: 300;
      line-height: 20px;
    }
    .action-wrap {
      padding: 10px;
      background: #2F2724;
      overflow: hidden;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 3px;
  }
  
  }

  .#{$name-prefix}breadcrumbs {
    margin-top: 7px;
    display: inline-block;
}

  .action-btn {
    float: right;
    padding: 5px;
    margin-left: 10px;
    border: 1px solid #fff;
    min-width: 65px;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    border-radius: 2px;
    text-transform: uppercase;
    &:focus{
      outline: 0;
    }
}

.new-light-box-mask {
  position: fixed;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.7);
  top: 0;
  z-index: 9;
  left: 64px;
}

  .new-light-box {
    position: fixed;
    top: 100px;
    padding: 20px 30px;
    background: #fff;
    width: 500px;
    overflow: hidden;
    max-width: 500px;
    margin: auto;
    left: 0;
    border-radius: 3px;
    right: 0;
    box-shadow: 0 2px 14px 0 rgba(0,0,0,0.08);
  }

.#{$name-prefix}heading-text {
  display: block;
  width: 100%;
  border: 0;
  border-bottom: 1px solid #dadfe3;
  margin: 5px 0 0;
  border-radius: 0;
  padding: 0 0 2px;
  resize: none;
  background-color: transparent;
  box-shadow: none;
  margin-bottom: 20px;
  font-size: 12px !important;
  padding: 10px;
  font-weight: 300;

  &:focus{
    outline: 0;
    border-color: #02b875;
    background: 0 0;
  }
}
.#{$name-prefix}heading-textarea {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  resize: none;
  margin-bottom: 30px;
  margin-top: 20px;
  font-size: 12px !important;
  padding: 10px;
  font-weight: 300;
  &:focus{
    outline: 0;
    border-color: #02b875;
    background: 0 0;
  }
}
.label-txt {
  padding: 10px 0px 0px;
  display: block;
  font-size: 12px;
}

.btn-cancle {
  color: #fff;
  background: #EE5924;
  border: 1px solid #EE5924;
}

.btn-submit {
  color: #fff;
  background: #02b875;
  border: 1px solid #02b875;
}

.new-note {
  display: inline-block;
  font-size: 12px;
  padding: 5px 10px;
  margin-left: 5px;
  border-radius: 2px;
}
.delete-con{
  text-align: center;
}
.delete-wrap{
  margin: 20px 0 auto;
}
.delete-wrap .action-btn{
  float: none;
}
.#{$name-prefix}note-edit{
  background: #fff;
  color: #333;
}
.#{$name-prefix}note-delete{
  background: #EE5924;
  border: 1px solid #EE5924;
}

.fn-support {
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}

.set-bg{
  background: #fff;
  padding: 30px;
  border-radius: 4px;
  box-shadow: 0 1px 2px 1px rgba(24,24,24,.02);
}
.sub {
  margin-bottom: 20px;
  overflow: hidden;
}
.subtext {
  color: #748188;
  text-transform: uppercase;
  font-size: 12px;
}

.newsubtext {
  font-size: 14px;
  font-weight: 500;
  color: #000;
  display: block;
  padding-top: 4px;
}
.subtext.fn-lowercase{
  text-transform: initial;
}

.sub .action-btn {
  float: left;
  margin-left: 0;
  padding: 10px 25px;
  letter-spacing: .5px;
}

.rm-pd-b{
  margin-bottom: 0;
}

.subscribe-btm {
  position: absolute;
  bottom: 0;
  left: 14px;
}

.alert {
  opacity: 0;
  position: relative;
  left: 100px;

  transition: all 700ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

  &.active {
    opacity: 1;
    left: 0px;

    &.exiting {
      opacity: 0;
      left: 100px;
    }
  }
}


.#{$name-prefix}flash-msg-container {
  position: fixed;
  top: 30px;
  z-index: 6;
  // right: initial;
  right: 60px;
}

.#{$name-prefix}alert-msg.alert {
  min-width: 300px;
  border-radius: 3px;
  background-color: #FFFFFF;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.5), 0 2px 2px 0 rgba(0, 0, 0, 0.12), 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 5px 13px 2px rgba(0, 0, 0, 0.06);
  overflow: hidden;
  display: table;
  position: relative;
  margin-bottom: 10px;
}

.#{$name-prefix}icon-placeholder {
  min-width: 20px;
  background-color: transparent;
  padding: 22px 0;
  // max-width: 30px;
  display: table-cell;
  width: 76px;
  text-align: center;
  color: #fff;
}

.#{$name-prefix}icon-success {
  background-color: #02B875;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.01), 0 2px 0 0 rgba(152, 158, 157, 0.19);
}

.#{$name-prefix}icon-failure {
  background-color: $brand-failure;
  box-shadow: inset 0 1px 1px 0 rgba(0, 0, 0, 0.01), 0 2px 0 0 rgba(152, 158, 157, 0.19);
}

.#{$name-prefix}alert-content {
  background-color: #fff;
  padding: 0px 25px 0 15px;
  display: table-cell;
  vertical-align: middle;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0.5px;
  color: #183247;
  max-width: 250px;
}

.#{$name-prefix}alert-close {
  position: absolute;
  right: 16px;
  top: 10px;
  width: 11px;
  cursor: pointer;
}

.alert {
  opacity: 0;
  position: relative;
  left: 100px;
  transition: all 700ms cubic-bezier(0.68, -0.55, 0.265, 1.55);

  &.active {
    opacity: 1;
    left: 0px;

    &.exiting {
      opacity: 0;
      left: 100px;
    }
  }
}