{{input value=model.title}}
{{textarea value=model.description}}
<button {{action "updateRecord" model}} disabled={{v-get model 'isInvalid'}}>submit</button>
{{#link-to 'notes' tagName="button"}}cancel{{/link-to}}
