<aside>
    <ul>
        <li>
            {{#link-to 'index' tagName="a"}}Dashboard{{/link-to}}
        </li>
        <li>
            {{#link-to 'notes' tagName="a"}}Notes{{/link-to}}
        </li>
        <li>
            {{#link-to 'notes.new' tagName="a"}}New{{/link-to}}
        </li>
    </ul>
</aside>
{{yield}}