<ul>
    {{#each model as |note|}}
        <li>
            <b>{{note.title}}</b>
            <p>{{note.description}}</p>
            {{#link-to 'notes.edit' note.id}}Edit{{/link-to}}
            {{#link-to 'notes.delete' note.id}}Delete{{/link-to}}
        </li>
    {{/each}}
</ul>

{{outlet}}