
<div class="subscription-wrap fm-content-area">
    <div class="fm-note-wrap set-bg">
        <div class="sub">
            <span class="plan subtext">Current plan :</span> 
            <p class="plan newsubtext">Premium - <span class="plan subtext fn-lowercase">Number of users (100)</span></p>
            
        </div>
        <div class="sub">
            <span class="plan subtext">Subscription end Date :</span>
            <p class="plan newsubtext">DEC 15 2018</p>
        </div>
        <div class="sub rm-pd-b">
            <button {{action "sub" model}}  class="action-btn btn-submit">Cancel Subscription </button>
        </div>
    </div>
</div>